.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  padding: 3rem 2rem;
}

.title {
  margin-bottom: 1rem;
}

.subtitle {
  color: #767676;
  margin-bottom: 3rem;
}

.illustration {
  margin: 3rem 0;
}

.button {
  border: none;
  text-decoration: none;
  background-color: #238aff;
  color: #fcfcfc;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 8px;
  margin: 3rem auto 0 auto;
  padding: 0.5rem 4rem;
}